.selectTipo
    left 12% !important
    position relative
.selectT
    width 85%
.selectTipo1
    left 12% !important
    position relative
.selectT1
    width 85%
.escritos
    position relative
    left -5%
.btn-success 
    color #fff
    background-color #5cb85c
    border-color #4cae4c
    border-radius 45%
    padding 6%
.btn-warning 
    border-radius 45%
    padding 6%
.sidebar-wrapper
    z-index 1
    position absolute
    width 0
    height 100%
    overflow-y:hidden
    background #2C3E50
    opacity 0.9
